<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>Mi web</title>
        <meta name="author" content="Nicolás Da Silva">
        <meta name="description" content="Contáctenos y haga su reserva.">
        <meta name="keywords" content="reservas, información, eventos">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" type="image/png" href="../favicon.ico">
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1>Mi web!</h1>
                <nav>
                    <a href="../index.html">Inicio</a>
                    <a href="galeria.html">Galería</a>
                    <a href="presupuesto.html">Presupuesto</a>
                    <a class="selected" href="#">Contacto</a>
                </nav>
            </div>
        </header>
        <main>
            <section>
                <h2>Restaurante, <span>¿qué va a comer hoy?</span></h2>
            </section>
            <section>En nuestro restaurante podrá encontrar los mejores platos de diversas gastronomías.</section>
        </main>
        <footer>
            <div id="footer-container-1">
                <div id="footer-container-2">
                    <nav>
                        <a href="https://www.instagram.com/">
                            <img src="../assets/img/instagram_icon.png" title="¡Síguenos en Instagram!" alt="¡Síguenos en Instagram!" width="24px">
                        </a>
                        <a href="https://www.x.com/">
                            <img src="../assets/img/x_icon.png" title="¡Síguenos en X!" alt="¡Síguenos en X!" width="24px">
                        </a>                
                        <a href="https://www.facebook.com/">
                            <img src="../assets/img/facebook_icon.png" title="¡Síguenos en Facebook!" alt="¡Síguenos en Facebook!" width="24px">
                        </a>
                    </nav>
                    <p>&copy; 2026 Mi web!. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>
    </body>
</html>