<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>Menú | Rumbo</title>
        <meta name="author" content="Nicolás Da Silva">
        <meta name="description" content="Galería de nuestros diversos platos.">
        <meta name="keywords" content="galería, fotos, platos, comida">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
    </head>
    <body>
        <header>
            <div id="header-container">
                <h1>Rumbo</h1>
                <nav>
                    <!-- La clase "selected" se usa para resaltar la sección actual -->
                    <a href="../index.html">Inicio</a>
                    <a class="selected" href="galeria.html">Galería</a>
                    <a href="presupuesto.html">Presupuesto</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>
        </header>
        <main>
            <div id="gallery-container">
                <h2>Aquí puedes ver una selección de nuestra carta.</h2>
                <div id="img-grid">
                    <img class="gallery-img" src="../assets/img/gallery/chilaquiles-verdes-con-huevo.jpg"
                        title="Chilaquiles verdes con huevo" alt="Chilaquiles verdes con huevo" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/chivito-uruguayo.jpg"
                        title="Chivito uruguayo" alt="Chivito uruguayo" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/coq-au-vin.jpg"
                        title="Coq au vin" alt="Coq au vin" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/ensalada-cesar.jpg"
                        title="Ensalada César" alt="Ensalada César" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/garlic-rib-eye-steak.jpg"
                        title="Garlic rib eye steak" alt="Garlic rib eye steak" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/lomo-saltado-peruano.jpg"
                        title="Lomo saltado peruano" alt="Lomo saltado peruano" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/paella.jpg"
                        title="Paella" alt="Paella" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/pasta-carbonara.jpg"
                        title="Pasta carbonara" alt="Pasta carbonara" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/ramen.jpg"
                        title="Ramen" alt="Ramen" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/lemon-pie.jpg"
                        title="Lemon Pie" alt="Lemon Pie" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/pasta-frola.jpg"
                        title="Pasta Frola" alt="Pasta Frola" width="400" height="400">
                    <img class="gallery-img" src="../assets/img/gallery/yogurt-parfait.jpg"
                        title="Yogurt Parfait" alt="Yogurt Parfait" width="400" height="400">
                </div>
            </div>
        </main>
        <footer>
            <div id="footer-container">
                <nav>
                    <a href="https://www.instagram.com/">
                        <img src="../assets/img/instagram_icon.png" title="¡Síguenos en Instagram!" alt="Instagram del restaurante"
                            width="240" height="240">
                    </a>
                    <a href="https://www.x.com/">
                        <img src="../assets/img/x_icon.png" title="¡Síguenos en X!" alt="X del restaurante"
                            width="240" height="240">
                    </a>                
                    <a href="https://www.facebook.com/">
                        <img src="../assets/img/facebook_icon.png" title="¡Síguenos en Facebook!" alt="Facebook del restaurante"
                            width="240" height="240">
                    </a>
                </nav>
                <p>&copy; 2026 Rumbo. Todos los derechos reservados.</p>
            </div>
        </footer>
    </body>
</html>