<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <title>Mi web</title>
        <meta name="author" content="Nicolás Da Silva">
        <meta name="description" content="Precios de los diferentes menús.">
        <meta name="keywords" content="presupuesto, precio">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" type="image/png" href="../favicon.ico">
    </head>
    <body>
        <div id="body-container">
            <header>
                <div id="header-container">
                    <h1>Restaurante</h1>
                    <nav>
                        <!-- La clase "selected" se usa para resaltar la sección actual -->
                        <a href="../index.html">Inicio</a>
                        <a href="galeria.html">Galería</a>
                        <a class="selected" href="#">Presupuesto</a>
                        <a href="contacto.html">Contacto</a>
                    </nav>
                </div>
                <hr>
            </header>
            <main>
                <form method="post">
                    <p>
                        <label>Nombre: <input type="text" name="nombre" required></label>
                    </p>
                    <p>
                        <label>Teléfono: <input type="tel" name="teléfono" required></label>
                    </p>
                    <p>
                        <label>E-mail: <input type="email" name="e-mail" required></label>
                    </p>
                    <p>
                        <label>Más información<textarea rows="4" cols="40"></textarea></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="términos-y-condiciones" required>Acepto los términos y condiciones</label>
                    </p>
                    <p>
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </p>                
                </form>
            </main>
            <footer>
                <div id="footer-container-1">
                    <div id="footer-container-2">
                        <nav>
                            <a href="https://www.instagram.com/">
                                <img src="../assets/img/instagram_icon.png" title="¡Síguenos en Instagram!" alt="¡Síguenos en Instagram!">
                            </a>
                            <a href="https://www.x.com/">
                                <img src="../assets/img/x_icon.png" title="¡Síguenos en X!" alt="¡Síguenos en X!">
                            </a>                
                            <a href="https://www.facebook.com/">
                                <img src="../assets/img/facebook_icon.png" title="¡Síguenos en Facebook!" alt="¡Síguenos en Facebook!">
                            </a>
                        </nav>
                        <p>&copy; 2026 Mi web!. Todos los derechos reservados.</p>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>